<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <p>
            "Wonderful! To head to the museum you just head right back through those large glass doors again and head for the town center. 
            It will be on the right hand side. And please, if you need anything else on your stay do no hesitate to ask or reach out!"
        </p>

        <p>
            You gather your luggage and leave it in your hotel room before heading back down to the lobby. You push the large teal doors 
            open and head for the town center. As you approach the sound of local music fills your ears. Drums and chimes fill the 
            warm summer air. At the town center is a large fountain that stands about 12 feet high. The rushing water is relaxing and 
            peaceful. The breeze blows past your face and carries with it a mist of some water droplets as you pass by, cooling your skin.
        </p>

        <p>
            Standing before is the town museum. It looks much older than your hotel, but just as ornate. This building has jewels of 
            sapphire and gold embedded into the stucco exterior. Some walls look cracked and ragged, vines overgrowing and weaving. You 
            step inside and all the loud sounds of the town center muffle as the door shuts before engulfing you in almost silence. Very
            faintly over the speakers is some peaceful music that sounds like its from a long time ago.
        </p>
        
    </div>


</body>
</html>