<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- GOOGLE FONT API -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Cinzel:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- GOOGLE FONT API -->
    <title>Choose Your Own Adventure</title>
</head>
<body>

    <div class="narrativeBox">

        <p>The bright afternoon sunbeams cut through the trees as your bus travels down the tan cobblestone roads of the town of Solanthi.
            You can hear the not so distant sound of waves crashing against the shoreline. The smell of sea salt rolls in through the 
            cracked bus windows filling your senses. 
        </p>

        <p>"Alright everybody! We're here!" The bus drivers hearty voice chimes over the speaker system.
            "I hope you all enjoy your stay in our wonderful town of Solanthi!" He grabs the door lever and pulls it open, a giant 
            burst of air rushing in to greet you.
        </p>

        <p>Slowly everyone shuffles off the bus, and as you descend the steps you look up at the view in front of you. 
            Directly in front of you stands your hotel, tall and statuesque. It's golden paint shimmers in the sunlight.
            Embedded in some of its stone lines are jewels of sapphire and emerald, complimented with vine like paintings in the same 
            colors, with some purple and gold as well. It's a very ornate building that looks like it's been around for years but has 
            enjoyed some modern upgrades. You press the large teal glass doors open and step inside. 
        </p>

        <p>"Welcome to Solaris Hotel!" A voice beams out throughout the hotel lobby. You see the hotel attendant smiling at you as you approach the front desk. "Can I have your name please?"
        </p>








        
    </div>

</body>
</html>